{%extends 'all-photos/base.html'%}

 {% block content %}

 <div class="container">
  <div class="jumbotron">
    <div class="row">
      <h1 class="text-center">Ronoh W. K. Gallery</h1>
    </div>
  </div>
  <div class="row">
    <h2>Photos featured include:</h2>
    <ul>
      <li>Sport</li>
      <li>Food</li>
      <li>Travel</li>
      <li>Hike</li>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="portfolio-piece">
      <h4 class="text-center"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></h4>
      <h4 class="text-center">Photo 1</h4>
      <h5 class="text-center">House</h5>
      <img src="/media/photo/IMG_20191111_144757.jpg" class="img-responsive img-thumbnail" alt="Placeholder"/>
    </div>
  </div>
      <div class="col-md-3">
        <div class="portfolio-piece">
          <h4 class="text-center"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></h4>
          <h4 class="text-center">Photo 2</h4>
          <h5 class="text-center">Tea Plantation</h5>
          <img src="/media/photo/IMG20191212170510.jpg" class="img-responsive img-thumbnail" alt="Placeholder"/>
        </div>
      </div>
        
        <div class="col-md-3">
          <div class="portfolio-piece">
            <h4 class="text-center"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></h4>
            <h4 class="text-center">Photo 3</h4>
            <h5 class="text-center">Graduation</h5>
            <img src="/media/photo/IMG_20190308_135650_7.jpg" class="img-responsive img-thumbnail" alt="Placeholder"/>
          </div>
        </div>
      <div class="col-md-3">
        <div class="portfolio-piece">
          <h4 class="text-center"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></h4>
          <h4 class="text-center">Photo 4</h4>
          <h5 class="text-center">Hike</h5>
          <img src="/media/photo/Screenshot_20191130-182302_v19Rq2s.png" class="img-responsive img-thumbnail" alt="Placeholder"/>
        </div>
      </div>
      </div>
    </div>
 {% endblock %}