@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
body{
    font-family: 'ZCOOL XiaoWei', serif;
}
.col-md-3{
   
    border-radius: 5px;
}
.jumbotron{
    background-color: cadetblue;
}